---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Publications from "../components/Publications.astro";
import Skills from "../components/Skills.astro";
import Certifications from "../components/Certifications.astro";
import Teaching from "../components/Teaching.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Azzadine | FPGA and ASIC Engineer">
	<Navbar />

	<main>
		<About />
		<Experience />
		<Education />
		<Publications />
		<Skills />
		<Certifications />
		<Teaching />
	</main>

	<Footer />
</MainLayout>
